{{#d-modal-body title="modal.social_locker.title" class="social-locker"}}
  <div class="fb-like" data-href="{{siteSettings.facebook_page_url}}" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>

  <a {{action "fbShare"}} class="fb-ui-share" data-layout="button_count" data-size="large" data-mobile-iframe="false"><img src="https://www.facebook.com/rsrc.php/v3/yq/r/5nnSiJQxbBq.png" /> Share</a>

  <a class="twitter-follow-button" href="https://twitter.com/{{siteSettings.twitter_handle}}" data-size="large" data-show-count="false">Follow @{{siteSettings.twitter_handle}}</a>

  <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-size="large">Tweet</a>
{{/d-modal-body}}
